<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ex06</title>
</head>
<body>
    <h1>Books</h1>
    <ul id="liste">
        <li>%books%</li>
    </ul>
    
    <form id="book-form">
        <label for='title'> Title</label>
        <input type="text" name="title" id="title">
        <label for='author'> Author</label>
        <input type="text" name="author" id="author">
        <input type="submit" value="Save">
    </form>
    <script>
    document.getElementById('book-form').addEventListener('submit', function(e){
        e.preventDefault();
        let form = new FormData(document.getElementById('book-form'));
        console.log(form);
        let object = {};
        form.forEach((value,key) =>{
            object[key]=value;
        });
        var json = JSON.stringify(object);
        fetch('/api/books',{
            headers:{
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            method:'POST',
            body:json
        })
        .then(data =>{
                data.json().then(da =>{
                    let str = da.reduce((prev,current)=>{
                        return `${prev}\n
                        <li><b>Titre</b>: ${current.name} <b>Auteur</b>: ${current.author}</li>`
                    },'')
                    document.getElementById('liste').innerHTML=str;
                })
                
            }).catch(err =>{
                console.log(err);
            })
    });
    </script>
</body>
</html>